{% if category %}
<section class="related-posts">
    <h2>Related Posts</h2>

    <div class="post-list">
        {% for post in collections.all | reverse %}
            {% if post.data.category == category %}
                {% if post.url != page.url %}
                    <div class="post-card">
                        <div class="post-info">
                            <h3>{{ post.data.title }}</h3>

                            {% if post.data.subject %}
                            <p class="post-meta">
                                {{ post.data.subject }}
                            </p>
                            {% endif %}
                        </div>

                        <a href="{{ post.url }}" class="btn">View</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}
