---
layout: layout.njk
title: Health Talks
---

<h1>Health Talks</h1>

<div class="cards">

{% for post in collections.all %}

  {% if "health-talk/" in post.inputPath %}

    <div class="card">
      <h2>{{ post.data.title }}</h2>

      <a href="{{ post.url }}">
        Read More
      </a>
    </div>

  {% endif %}

{% endfor %}

</div>
